body {
    width: 80%;
    margin: auto;
    background: url(../img/background.png) no-repeat top;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-color: black;*/
}

#headerimages {
    margin: auto;
    margin-top: 0;
    width: 85%;
}

body #wrapper {
    background-color: #FFF;
    width: 67.5%;
    height: 1000px;
    margin: auto;
}

#dateBar {
    background: url(../img/date.png) no-repeat;
    background-size: 100%;
    height: 40px;
    margin-bottom: 15px;
}

#dateBar a {
    float: left;
    width: 37px;

}
